---
import LayoutArticle from "$layouts/LayoutArticle.astro";
import { Tabs, TabList, Tab, TabPanels, TabPanel } from "$components/ui/tabs";
import { Tour, TourPoint } from "$components/ui/tour";
import CardColor from "$components/ui/CardColor.astro";

import InterPreview1 from "/assets/img/design/design-systems/pln/font-inter-1.svg?raw";
import InterPreview2 from "/assets/img/design/design-systems/pln/font-inter-2.svg?raw";
import StixPreview1 from "/assets/img/design/design-systems/pln/font-stix-1.svg?raw";
import StixPreview2 from "/assets/img/design/design-systems/pln/font-stix-2.svg?raw";

import PlnMetricsTimeDepth from "/assets/img/design/design-systems/pln/pln-metrics-time-depth.svg?raw";
import PlnMetricsForum from "/assets/img/design/design-systems/pln/pln-metrics-forum.svg?raw";

const breadcrumbsLabels = {
	"pln-redesign": "Редизайн ПЛН",
};
---

<LayoutArticle title="Редизайн «Псковской ленты новостей»" description="Кейс cоздания дизайн-системы и редизайна сайта самого посещаемого онлайн-СМИ Псковской области — «Псковской ленты новостей»" headingTitle="Дизайн‑система и редизайн сайта самого посещаемого онлайн‑СМИ Псковской области — «Псковской ленты новостей»" subtitle="Как подготовить редизайн для медиа общего интереса с консервативной возрастной аудиторией и MAU более 500 000 человек, чтобы не вызвать отторжения нововведениями и заметно улучшить метрики вовлечённости" breadcrumbsLabels={breadcrumbsLabels} date="2022–2025 годы" customer="Медиахолдинг «Гражданская пресса»" customerLink="/about#pln" ogImage="/assets/img/design/design-systems/pln/ogcover-pln.webp">
	<section class="article-cover article-cover--pln fullwidth">
		<picture class="pln-cover--bg parallax-item" data-parallax="0.2">
			<source media="(max-width: 960px)" srcset="/assets/img/design/design-systems/pln/bg-pln-m.webp" />
			<source media="(min-width: 961px) and (resolution: 1dppx)" srcset="/assets/img/design/design-systems/pln/bg-pln-1x.webp" />
			<img src="/assets/img/design/design-systems/pln/bg-pln-1x.webp" alt="Дизайн-токены и фрагмент кода нового сайта ПЛН" fetchpriority="high" />
		</picture>
		<picture class="pln-cover--img">
			<source media="(max-width: 960px)" srcset="/assets/img/design/design-systems/pln/cover-pln-m.webp" />
			<source media="(min-width: 961px) and (resolution: 1dppx)" srcset="/assets/img/design/design-systems/pln/cover-pln-1x.webp" />
			<source media="(min-width: 961px) and (resolution: 2dppx), 
        (min-width: 961px) and (resolution: 3dppx),
        (min-width: 961px) and (resolution: 4dppx)" srcset="/assets/img/design/design-systems/pln/cover-pln-2x.webp" />
			<img src="/assets/img/design/design-systems/pln/cover-pln-2x.webp" alt="Создание дизайн-системы и редизайн сайта самого популярного онлайн-медиа Псковской области — «Псковской ленты новостей»" fetchpriority="high" />
		</picture>
	</section>
	<section class="article-lid animation-scroll-fadeup" data-toc="Введение" id="lid">
		<p>
			К началу 2020&#x2060;-&#x2060;х годов лидирующее онлайн&#x2060;-&#x2060;медиа Псковской области с 20&#x2060;-&#x2060;летней историей и ежемесячной аудиторией (MAU) порядка 500 тысяч человек — <a href="https://pln-pskov.ru" target="_blank" title="Сайт «Псковской ленты новостей»">«Псковская лента новостей»</a> (ПЛН) — столкнулась с необходимостью <strong>создания гибкой дизайн&#x2060;-&#x2060;системы и редизайна на её основе основного сайта</strong>. Причиной стала совокупность глубинных изменений в медиапотреблении, кризис прежней модели монетизации и накопившиеся ограничения устаревшей архитектуры сайта.
		</p>
		<p>
			<strong>Основные задачи:</strong>
		</p>
		<ol class="wrapper-indentation">
			<li>осовременить бренд, сохранив лояльность ядра аудитории;</li>
			<li>обеспечить консистентный пользовательский опыт между мобильной и десктопной версиями</li>
			<li>статистически значимо улучшить метрики вовлечённости: увеличить глубину просмотра и время на сайте, процент доскролла отметок 50&#8239;% и 75&#8239;% главной и страниц с материалами, уменьшить долю отказов;</li>
			<li>увеличить долю посещений главной страницы при заходах по ссылкам или из поиска не на главную, а также страницы «Лента новостей», чтобы увеличить показы заголовков материалов, не попадающих в раздел «Главное»;</li>
			<li>увеличить долю переходов на материалы разделаов «Медиа» и «Авторы», на страницу комментариев;</li>
			<li>улучшить инфраструктуру монетизации: увеличить количество и качество баннерных зон без снижения удобства пользования сайтом, преодолеть технические ограничения шаблона, ограничивающие использование html5&#x2060;-&#x2060;баннеров;</li>
			<li>создать масштабируемый и консистентный дизайн&#x2060;-&#x2060;инструмент для сокращения накладных и временны&#769;х издержек при реализации новых компонентов и создания разделов/сайтов субпродуктов медиа;</li>
		</ol>
		<p>
			<strong>Исследования</strong> — <mark>анализ метрик и пользовательского поведения, аудит интерфейса, серия коридорных тестов и глубинных интервью с постоянными и эпизодическими читателями, с сотрудниками редакции — помогли определить основные проблемные зоны</mark> в дизайне. Анализ конкурентов и лучших практик в проектировании интерфейсов сайтов и приложений СМИ «общего интереса» с общественно-политическим и деловым уклоном — именно в этом сегменте традиционно работала ПЛН — позволил уточнить пул гипотез, которые были затем протестированы.
		</p>
		<p>
			<strong>Разработка дизайн&#x2060;-&#x2060;системы и редизайна сайта</strong> началась с определения дизайн-токенов. На их основе в ходе серии итераций <mark>был спроектирован обновлённый интерфейс сайта, спрограммированны атомарные и функциональные компоненты, виджеты и шаблоны страниц</mark>. Затем на базе фреймворка SvelteKit был создан <mark>интерактивный адаптивный прототип на основе моковых данных, собранных в JSON&#x2060;-&#x2060;файлы</mark> для имитации взаимодействия с бэкендом и тестирования пограничных кейсов. Полученный интерактивный прототип стал базой для последующих итераций пользовательских исследований и тестирования дизайн-решений, их доработки и отладки.
		</p>
	</section>
	<section class="article-body">
		<section class="article-chapter animation-scroll-fadeup">
			<h2 class="article-chapter-title" data-toc="Исследования, контекст и ограничения" id="custdev">Исследования, контекст и ограничения</h2>
			<section class="article-chapter-section">
				<h3 class="article-chapter-subtitle" data-toc="Основные показатели" id="metrics">Основные показатели</h3>
				<p class="article-text">Ключевые метрики сайта во время старта работ по редизайну в 2022 году:</p>
				<table class="table-main pln-metrics" id="table-pln-metrics">
					<thead>
						<tr>
							<th></th>
							<th>Десктопы</th>
							<th>Смартфоны и планшеты</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>Устройства</th>
							<td>24,39&#8239;%</td>
							<td>72,50&#8239;%</td>
						</tr>
						<tr>
							<th>Глубина просмотра</th>
							<td>3,85</td>
							<td>1,87 <span class="table-indicator-shift">(&Delta; −51,43&#8239;%)</span></td>
						</tr>
						<tr>
							<th>Время на сайте</th>
							<td>5:15</td>
							<td>1:48 <span class="table-indicator-shift">(&Delta; −65,71&#8239;%)</span></td>
						</tr>
					</tbody>
				</table>
				<table class="table-main pln-metrics" id="table-pln-metrics">
					<thead>
						<tr>
							<th></th>
							<th>В неделю</th>
							<th>В месяц</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>Уникальных посетителей</th>
							<td>&gt; 136 тысяч</td>
							<td>&gt; 490 тысяч</td>
						</tr>
						<tr>
							<th>Просмотров страниц</th>
							<td>&gt; 620 тысяч</td>
							<td>&gt; 2 млн</td>
						</tr>
						<tr>
							<th>Ядро аудитории (посещения каждую неделю в течение месяца)</th>
							<td colspan="2" class="center">≈ 15&#8239;%</td>
						</tr>
					</tbody>
				</table>
				<p class="article-text footnote" id="footnote--plnstat">* Цифры в таблице — по данным сервиса «Яндекс Метрика» за период с 1 марта 2022 года по 26 февраля 2023 года (среднее арифметическое) без учёта посещений роботов</p>
			</section>
			<section class="article-chapter-section">
				<h3 class="article-chapter-subtitle" data-toc="Исследования: от данных к инсайтам" id="discovery">Исследования: от данных к инсайтам</h3>
				<p class="article-text">Работа началась с исследования технических аспектов использования сайта, уточнения портрета основных сегментов аудитории, анализа тепловых карт и карт скроллинга, пути пользователей, определения проблемных зоны в интерфейсе.</p>
				<picture class="fullwidth">
					<source media="(max-width: 960px)" srcset="/assets/img/design/design-systems/pln/pln-analytics-m.webp" />
					<source media="(min-width: 961px) and (resolution: 1dppx)" srcset="/assets/img/design/design-systems/pln/pln-analytics-1x.webp" />
					<source media="(min-width: 961px) and (resolution: 2dppx), 
					(min-width: 961px) and (resolution: 3dppx),
					(min-width: 961px) and (resolution: 4dppx)" srcset="/assets/img/design/design-systems/pln/pln-analytics-2x.webp" />
					<img src="/assets/img/design/design-systems/pln/pln-analytics-2x.webp" class="article-img fullwidth" alt="Анализ метрик посещаемости сайта «Псковской ленты новостей»" />
				</picture>
				<section class="article-chapter-section">
					<p class="article-text article-accent">
						<strong>Некоторые проблемы, выявленные в ходе технического и UX&#x2060;-&#x2060;аудита</strong>
					</p>
					<ul class="article-text wrapper-indentation">
						<li>Критическая несогласованность в пользовательских путях и навигации между десктопной и мобильной версиями.</li>
						<li>Интерфейсные тупики в ключевых шаблонах мобильной версии приводили к почти двукратному росту отказов.</li>
						<li>Интерфейс изобиловал элементами, выполненными с нарушением требований доступности по спецификации WCAG 2.1: с недостаточным цветовым контрастом или с передачей информации только цветом без дублирования.</li>
						<li>Сетка и принципы масштабирования прежнего шаблона технически ограничивали использование на сайте современной рекламы на основе html5&#x2060;-&#x2060;баннеров.</li>
					</ul>
				</section>
				<section class="article-chapter-section">
					<p class="article-text article-accent">
						<strong>Основные выводы количественного анализа</strong>
					</p>
					<ul class="article-text wrapper-indentation">
						<li>
							Ключевые <strong>пользовательские когорты</strong>:
						</li>
						<ol class="wrapper-indentation">
							<li>госслужащие и офисные работники, преимущественно пользователи десктопов, женщины 45+ лет;</li>
							<li>социальные и политические активисты, участники публичных дискуссий в соцсетях, 30+ лет;</li>
							<li>люди, интересующиеся деловыми и экономическими новостями, предприниматели — преимущественно пользователи десктопов, мужчины 40+</li>
							<li>автовладельцы, преимущественно пользователи смартфонов, мужчины 25+ лет.</li>
						</ol>
						<li>Более 3/4 пользователей были старше 35 лет.</li>
						<li>Женская аудитория более чем на 16&#8239;% превышала мужскую (частично эта пропорция коррелировалось с демографической картиной в регионе, а также со структурой занятости, в частности, в сфере госслужбы). При этом женская аудитория уступала мужской по глубине просмотра на 11&#8239;%, и на 33,7&#8239;% (порядка 25 секунд) — по времени на сайте.</li>
						<li>Основная доля пользователей (> 30&#8239;%) приходила на сайт через поисковый траффик — и часто даже не видела главную страницу. При этом на 2&#x2060;-&#x2060;м месте по источникам заходов (> 20&#8239;%) — прямые переходы через закладки браузера или набор url сайта;</li>
						<li>Низкий показатель (менее 20&#8239;%) доскролла нижней части главной страницы, где располагались важные для рекламы и увеличения глубины просмотров ссылки.</li>
						<li>Тепловые карты кликов и прокрутки выявили «слепые зоны» в интерфейсе.</li>
					</ul>
				</section>
			</section>
			<section class="article-chapter-section">
				<p class="article-text article-accent">
					<strong>Инсайты качественных исследований</strong>
				</p>
				<p class="article-text">Для выявления сущностных проблем в дизайне и ценностных детерминантов пользовательского восприятия за период разработки было проведено более 20 глубинных интервью, а также несколько серий юзабилити-тестирования.</p>
				<p class="article-text">
					<mark>Ключевые инсайты</mark>
				</p>
				<ul class="article-text wrapper-indentation">
					<li>
						<strong>Плохая типографика и мелкий кегль текста — основной раздражитель</strong><br />Более половины респондентов отмечали неудобство чтения текста, особенно в мобильной версии, ссылаясь на слишком мелкий шрифт и отключённое системное масштабирование. Последующий анализ подтвердил критическую важность этого фактора, учитывая возраст ядра аудитории (45+) и превышающую среднероссийские показатели <a href="https://pln-pskov.ru/society/482606.html" title="Более 60% псковичек носят очки или контактные линзы — аналитики / ПЛН, 2023">распространённость проблем со зрением в регионе, особенно среди женщин</a>.
					</li>
					<li>
						<strong>Скрытый запрос на тёмную тему вопреки метрикам</strong><br />Статистика использования сайта в первой половине 2023 года не фиксировала значительной доли пользователей с включенной системной тёмной темой (менее 15&#8239;%). Это коррелировало с ответами основной массы респондентов, подобранных по половозрастному и социальному портрету аудитории. Однако наблюдения и опросы в смежных группах (активные пользователи десктопов, преимущественно мужчины младше 35 лет) выявили серьезный неудовлетворенный запрос: более 50&#8239;% хотели бы иметь возможность включить тёмную тему в настройках. Тенденция к росту подобных запросов отмечалась и в крупных международных исследованиях: <a href="https://appt.org/en/" target="_blank" title="A guide for making apps accessible / Appt Foundation">переключение на тёмную тему и увеличение системного шрифта являются самыми популярными функциями доступности, которые используют около 40&#8239;% пользователей на iOS и Android</a>.
					</li>
					<li>
						<strong>Важность разноформатицы и акцентов для медиа</strong><br />Юзабилити-тестирование статистически значимо подтвердило гипотезу о важности предложения сразу нескольких акцентов на каждом экране: большинство пользователей сканировало сайт в режиме «инфотеймента», не вчитываясь в заголовки и текст. Из&#x2060;-&#x2060;за этого списки заголовков новостей, в котором одна из новостей имела изображение, получали на 34&#8239;% больше кликов, чем блоки с однообразными карточками новостей без изображений, и на 9&#8239;% больше, чем блоки, в которых каждая карточка новости имели графическое превью.
					</li>
				</ul>
			</section>
		</section>
		<section class="article-chapter animation-scroll-fadeup">
			<h2 class="article-chapter-title" data-toc="Дизайн-система" id="ds">Дизайн-система</h2>
			<section class="article-chapter-section">
				<picture class="fullwidth">
					<source media="(max-width: 960px)" srcset="/assets/img/design/design-systems/pln/typography-m.webp" />
					<source media="(min-width: 961px) and (resolution: 1dppx)" srcset="/assets/img/design/design-systems/pln/typography-1x.webp" />
					<source media="(min-width: 961px) and (resolution: 2dppx), 
					(min-width: 961px) and (resolution: 3dppx),
					(min-width: 961px) and (resolution: 4dppx)" srcset="/assets/img/design/design-systems/pln/typography-2x.webp" />
					<img src="/assets/img/design/design-systems/pln/typography-2x.webp" class="article-img fullwidth heading-bg-img" alt="Типографика — декоративная фоновая надпись" />
				</picture>
				<h3 class="article-chapter-subtitle" data-toc="Типографика" id="typography">Типографика</h3>
				<p class="article-text">
					На старом сайте использовалась всего одна гарнитура — <strong>Roboto</strong>: интерфейсный шрифт ОС Android.
				</p>
				<p class="article-text">Это ограничивало возможность стилистического акцентирования, выстраивания четкой иерархии и визуального разделения основного контента (текста статей) и служебных элементов (рубрики, дата и время публикации, подзаголовки разделов) на сайте с большим объемом разноплановых текстовых блоков.</p>
				<p class="article-text">
					Для решения этой проблемы была подобрана <strong>гармоничная пара шрифтовых семейств с открытой лицензией — с засечками и без</strong>. К выбору предъявлялись следующие ключевые требования:
				</p>
				<ul class="article-text">
					<li>Хорошая сочетаемость друг с другом и качественная проработка кириллицы.</li>
					<li>Высокая четкость и распознаваемость в мелких кеглях на цифровых экранах с недорогими матрицами и некачественными настройками сглаживания шрифтов.</li>
					<li>Наличие большого набора начертаний и дополнительных символов, необходимых медиаресурсу для оформления специальных материалов.</li>
				</ul>
				<div class="article-inset width-w">
					<p class="article-text width-w">A/B/C-тестирование субъективной оценки комфорта чтения на фокус-группе (n=30) продемонстрировало в среднем на 10&#8239;% лучшие показатели у пары Inter + Stix Two Text против пар Roboto + Roboto Slab и Noto Sans + Noto Serif.</p>
				</div>
			</section>
			<section class="article-chapter-section wrapper-columns-two width-xw wrapper-centered">
				<div class="wrapper-columns--sticky">
					<p class="article-text article-accent">
						<strong>Inter — интерфейсное семейство без засечек</strong>
					</p>
					<p class="article-text">
						В качестве интерфейсного шрифтового семейства была выбрана гарнитура <strong><a href="https://rsms.me/inter" title="Сайт гарнитуры Inter" target="_blank">Inter</a></strong> дизайнера Расмуса Андрессона — один из лучших на момент старта работ бесплатных неогротесков с исключительной читаемостью в малых кеглях на экранах.
					</p>
					<div class="article-inset wrapper-indentation animation-scroll-fadeup">
						<p class="article-text">
							<strong>Ключевые преимущества:</strong>
						</p>
						<ul>
							<li class="article-text">Высокая чёткость отображения даже в мелких интерфейсных элементах.</li>
							<li class="article-text">Широкий спектр лигатур и возможностей кастомизации, позволивший настроить отображение цифр, форм точек и запятых в соответствии с рубленым характером логотипа бренда.</li>
						</ul>
					</div>
				</div>
				<div class="wrapper-columns--sticky wrapper-indentation-xl">
					<Fragment set:html={InterPreview1} />
					<Fragment set:html={InterPreview2} />
				</div>
			</section>
			<section class="article-chapter-section wrapper-columns-two width-xw wrapper-centered">
				<div class="wrapper-columns--sticky">
					<p class="article-text article-accent">
						<strong>STIX Two Text — текстовое семейство с засечками</strong>
					</p>
					<p class="article-text">
						Для основного текста статей была выбрана специальная гарнитура <strong><a href="https://github.com/stipub/stixfonts" title="Репозиторий гарнитуры Stix Two Text" target="_blank">Stix Two Text</a></strong>, созданная в рамках STIX Project для научных, технических и медицинских публикаций в цифровой среде.
					</p>
					<div class="article-inset wrapper-indentation animation-scroll-fadeup">
						<p class="article-text"><strong>Ключевые преимущества:</strong></p>
						<ul>
							<li class="article-text">Оптимизирована для удобного восприятия длинных текстов на цифровых носителях.</li>
							<li class="article-text">Обеспечивает стабильную читаемость в небольших кеглях на экранах любого качества.</li>
						</ul>
					</div>
				</div>
				<div class="wrapper-columns--sticky wrapper-indentation-xl">
					<Fragment set:html={StixPreview1} />
					<Fragment set:html={StixPreview2} />
				</div>
			</section>
			<section class="article-chapter-section wrapper-columns-two width-xw wrapper-centered">
				<div class="wrapper-columns--sticky">
					<p class="article-text article-accent">
						<strong>Адаптивная система кеглей текста</strong>
					</p>
					<p class="article-text">Для обеспечения гибкости и отзывчивости была создана система токенов текстовых размеров на основе CSS-функции clamp(), позволяющей гибко адаптировать кегль шрифта в зависимости от размера экрана, сохраняя комфортность чтения на всех устройствах.</p>
				</div>
				<div class="wrapper-columns--sticky">
					<img src="/assets/img/design/design-systems/pln/pln-ds-typography.webp" class="article-img" alt="Таблица базовых токенов типографики для редизайна «Псковской ленты новостей»" />
				</div>
			</section>
			<section class="article-chapter-section">
				<h3 class="article-chapter-subtitle" data-toc="Палитра" id="colors">Цветовая палитра</h3>
				<p class="article-text">
					<strong>Бренд традиционно использовал в качестве фирменной палитры оттенки бордо</strong>, однако жёсткого канона не существовало — с каждым редизайном конкретный тон незначительно менялся в рамках этой гаммы. Учитывая, что около 25&#8239;% участников глубинных интервью отмечали неприятные ассоциации с текущим цветом (<q>как будто грязный</q>, <q>немного мрачно</q>), было принято решение его освежить. Финальный оттенок отличается увеличенной на 6&#8239;% насыщенностью и на 15&#8239;% — яркостью.
				</p>
				<section class="wrapper-columns-two wrapper-columns-two-mobile width-main wrapper-centered">
					<div class="wrapper-indentation">
						<p class="color-data-description">Старый фирменный цвет</p>
						<CardColor sample="#aa2020" hex="#aa2020" rbg="170 32 32" hsb="359° 81 % 67 %" oklch="48.01 % 0.1737 26.81" />
					</div>
					<div class="wrapper-indentation">
						<p class="color-data-description">Новый фирменный цвет</p>
						<CardColor sample="#d01b1f" hex="#d01b1f" rbg="208 27 31" hsb="0° 87 % 82 %" oklch="54.89 % 0.211 27.32" />
					</div>
				</section>
				<p class="article-text">
					Также был подобран <strong>«цифровой» фон с палитрой, основанной на обновлённом и прошлом фирменных цветах</strong>. Этот фон стал базой для оформления многих заставок, полиграфической продукции, стал ещё одним из стилеобразующих элементов.
				</p>
			</section>
			<section class="article-chapter-section fullwidth maxwidth">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1100 500" id="pln-pattern">
					<defs>
						<linearGradient id="c" x1="0" x2="100" y1="228" y2="228" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#9d0714"></stop><stop offset="1" stop-color="#93082e"></stop></linearGradient><linearGradient id="d" x1="100" x2="200" y1="228" y2="228" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#b2002a"></stop><stop offset="1" stop-color="#aa0217"></stop></linearGradient><linearGradient id="e" x1="200" x2="300" y1="228" y2="228" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#b50218"></stop><stop offset="1" stop-color="#bd1128"></stop></linearGradient><linearGradient id="f" x1="300" x2="400" y1="228" y2="228" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#c61012"></stop><stop offset="1" stop-color="#c50b13"></stop></linearGradient><linearGradient id="g" x1="400" x2="500" y1="228" y2="228" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse">
							<stop offset="0" stop-color="#cd2104"></stop><stop offset="1" stop-color="#d90615"></stop>
						</linearGradient><linearGradient id="h" x1="500" x2="600" y1="228" y2="228" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ed1416"></stop><stop offset="1" stop-color="#fe052b"></stop></linearGradient><linearGradient id="i" x1="650" x2="650" y1="178" y2="278" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f62e14"></stop><stop offset="1" stop-color="#dc3a0d"></stop></linearGradient><linearGradient id="j" x1="700" x2="800" y1="228" y2="228" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#eb4901"></stop><stop offset="1" stop-color="#fc4312"></stop></linearGradient><linearGradient id="k" x1="800" x2="900" y1="228" y2="228" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#eb4901"></stop><stop offset="1" stop-color="#fd4513"></stop></linearGradient><linearGradient id="l" x1="900" x2="1000" y1="228" y2="228" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse">
							<stop offset="0" stop-color="#fe4414"></stop><stop offset="1" stop-color="#e12b18"></stop>
						</linearGradient><linearGradient id="m" x1="1050" x2="1050" y1="178" y2="278" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fa4713"></stop><stop offset="1" stop-color="#de6104"></stop></linearGradient><linearGradient id="a" x1="0" x2="100" y1="78" y2="178" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#cc1c25"></stop><stop offset="1" stop-color="#e50f15"></stop></linearGradient><linearGradient id="b" x1="150" x2="150" y1="178" y2="78" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#c82627"></stop><stop offset="1" stop-color="#e0111c"></stop></linearGradient><linearGradient id="n" x1="200" x2="300" y1="178" y2="78" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#be0025"></stop><stop offset="1" stop-color="#bf0116"></stop></linearGradient><linearGradient id="o" x1="300" x2="400" y1="128" y2="128" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse">
							<stop offset="0" stop-color="#ce0417"></stop><stop offset="1" stop-color="#bc1a1d"></stop>
						</linearGradient><linearGradient xlink:href="#a" id="p" x1="400" x2="500" y1="128" y2="128"></linearGradient><linearGradient id="q" x1="500" x2="600" y1="128" y2="128" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f81618"></stop><stop offset="1" stop-color="#f71817"></stop></linearGradient><linearGradient id="r" x1="600" x2="700" y1="128" y2="128" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ff3e17"></stop><stop offset="1" stop-color="#fa4029"></stop></linearGradient><linearGradient id="s" x1="700" x2="800" y1="128" y2="128" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ff462e"></stop><stop offset="1" stop-color="#ff4520"></stop></linearGradient><linearGradient id="t" x1="800" x2="900" y1="128" y2="128" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ff532b"></stop><stop offset="1" stop-color="#ff4616"></stop></linearGradient><linearGradient
							id="u"
							x1="900"
							x2="1000"
							y1="128"
							y2="128"
							gradientTransform="matrix(1 0 0 -1 0 278)"
							gradientUnits="userSpaceOnUse">
							<stop offset="0" stop-color="#fd4016"></stop><stop offset="1" stop-color="#f54d1f"></stop>
						</linearGradient><linearGradient id="v" x1="1050" x2="1050" y1="78" y2="178" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f31c22"></stop><stop offset="1" stop-color="#f93314"></stop></linearGradient><linearGradient id="w" x1="0" x2="100" y1="28" y2="28" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#db0d0d"></stop><stop offset="1" stop-color="#e10d0c"></stop></linearGradient><linearGradient id="x" x1="100" x2="200" y1="28" y2="28" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fa010e"></stop><stop offset="1" stop-color="#ea1117"></stop></linearGradient><linearGradient xlink:href="#b" id="y" x1="250" x2="250" y1="78" y2="-22"></linearGradient><linearGradient id="z" x1="300" x2="400" y1="28" y2="28" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#e8171f"></stop><stop offset="1" stop-color="#d51a19"></stop></linearGradient><linearGradient
							id="A"
							x1="400"
							x2="500"
							y1="28"
							y2="28"
							gradientTransform="matrix(1 0 0 -1 0 278)"
							gradientUnits="userSpaceOnUse">
							<stop offset="0" stop-color="#f72c1e"></stop><stop offset="1" stop-color="#fe2809"></stop>
						</linearGradient><linearGradient id="B" x1="500" x2="600" y1="28" y2="28" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fb481f"></stop><stop offset="1" stop-color="#e03310"></stop></linearGradient><linearGradient id="C" x1="600" x2="700" y1="28" y2="28" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ff4421"></stop><stop offset="1" stop-color="#ff511e"></stop></linearGradient><linearGradient id="D" x1="700" x2="800" y1="28" y2="28" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f14604"></stop><stop offset="1" stop-color="#fc4c1e"></stop></linearGradient><linearGradient id="E" x1="950" x2="950" y1="78" y2="-22" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#e41917"></stop><stop offset="1" stop-color="#d12f10"></stop></linearGradient><linearGradient id="F" x1="1050" x2="1050" y1="-22" y2="78" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse">
							<stop offset="0" stop-color="#e01602"></stop><stop offset="1" stop-color="#d40f15"></stop>
						</linearGradient><linearGradient id="G" x1="0" x2="100" y1="-72" y2="-72" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ec1516"></stop><stop offset="1" stop-color="#df2b04"></stop></linearGradient><linearGradient id="H" x1="100" x2="200" y1="-72" y2="-72" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f7181c"></stop><stop offset="1" stop-color="#fe1825"></stop></linearGradient><linearGradient id="I" x1="250" x2="250" y1="-122" y2="-22" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ee2022"></stop><stop offset="1" stop-color="#f73327"></stop></linearGradient><linearGradient id="J" x1="300" x2="400" y1="-72" y2="-72" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fc542c"></stop><stop offset="1" stop-color="#fc491a"></stop></linearGradient><linearGradient id="K" x1="400" x2="500" y1="-72" y2="-72" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse">
							<stop offset="0" stop-color="#f75335"></stop><stop offset="1" stop-color="#f75335"></stop>
						</linearGradient><linearGradient id="L" x1="500" x2="600" y1="-72" y2="-72" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ff5f33"></stop><stop offset="1" stop-color="#fe5728"></stop></linearGradient><linearGradient id="M" x1="600" x2="700" y1="-72" y2="-72" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fd603b"></stop><stop offset="1" stop-color="#ff5635"></stop></linearGradient><linearGradient id="N" x1="850" x2="850" y1="-122" y2="-22" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#d40f1b"></stop><stop offset="1" stop-color="#c40130"></stop></linearGradient><linearGradient id="O" x1="900" x2="1000" y1="-72" y2="-72" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#c60917"></stop><stop offset="1" stop-color="#b01712"></stop></linearGradient><linearGradient id="P" x1="1050" x2="1050" y1="-22" y2="-122" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse">
							<stop offset="0" stop-color="#ac1912"></stop><stop offset="1" stop-color="#bd0716"></stop>
						</linearGradient><linearGradient id="Q" x1="0" x2="100" y1="-172" y2="-172" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fa1215"></stop><stop offset="1" stop-color="#fa1215"></stop></linearGradient><linearGradient id="R" x1="100" x2="200" y1="-172" y2="-172" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#e92c0b"></stop><stop offset="1" stop-color="#f91b1a"></stop></linearGradient><linearGradient id="S" x1="200" x2="300" y1="-172" y2="-172" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#e71f3d"></stop><stop offset="1" stop-color="#fb2c23"></stop></linearGradient><linearGradient id="T" x1="300" x2="400" y1="-172" y2="-172" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f42b26"></stop><stop offset="1" stop-color="#fc4f30"></stop></linearGradient><linearGradient id="U" x1="400" x2="500" y1="-172" y2="-172" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse">
							<stop offset="0" stop-color="#f54938"></stop><stop offset="1" stop-color="#f04d4a"></stop>
						</linearGradient><linearGradient id="V" x1="550" x2="550" y1="-222" y2="-122" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ea4045"></stop><stop offset="1" stop-color="#df464b"></stop></linearGradient><linearGradient id="W" x1="650" x2="650" y1="-222" y2="-122" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#d43840"></stop><stop offset="1" stop-color="#d23c45"></stop></linearGradient><linearGradient id="X" x1="800" x2="900" y1="-172" y2="-172" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#cd0107"></stop><stop offset="1" stop-color="#bb081b"></stop></linearGradient><linearGradient id="Y" x1="950" x2="950" y1="-222" y2="-122" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#c00616"></stop><stop offset="1" stop-color="#a60323"></stop></linearGradient><linearGradient id="Z" x1="1000" x2="1100" y1="-222" y2="-122" gradientTransform="matrix(1 0 0 -1 0 278)" gradientUnits="userSpaceOnUse">
							<stop offset="0" stop-color="#bd0f14"></stop><stop offset="1" stop-color="#920323"></stop>
						</linearGradient>
					</defs><path fill="url(#c)" d="M0 0h100v100H0z"></path><path fill="url(#d)" d="M100 0h100v100H100z"></path><path fill="url(#e)" d="M200 0h100v100H200z"></path><path fill="url(#f)" d="M300 0h100v100H300z"></path><path fill="url(#g)" d="M400 0h100v100H400z"></path><path fill="url(#h)" d="M500 0h100v100H500z"></path><path fill="url(#i)" d="M600 0h100v100H600z"></path><path fill="url(#j)" d="M700 0h100v100H700z"></path><path fill="url(#k)" d="M800 0h100v100H800z"></path><path fill="url(#l)" d="M900 0h100v100H900z"></path><path fill="url(#m)" d="M1000 0h100v100h-100z"></path><path fill="url(#a)" d="M0 100h100v100H0z"></path><path fill="url(#b)" d="M100 100h100v100H100z"></path><path fill="url(#n)" d="M200 100h100v100H200z"></path><path fill="url(#o)" d="M300 100h100v100H300z"></path><path fill="url(#p)" d="M400 100h100v100H400z"></path><path fill="url(#q)" d="M500 100h100v100H500z"></path><path fill="url(#r)" d="M600 100h100v100H600z"></path><path fill="url(#s)" d="M700 100h100v100H700z"></path><path fill="url(#t)" d="M800 100h100v100H800z"></path><path fill="url(#u)" d="M900 100h100v100H900z"></path><path fill="url(#v)" d="M1000 100h100v100h-100z"></path><path
						fill="url(#w)"
						d="M0 200h100v100H0z">
					</path><path fill="url(#x)" d="M100 200h100v100H100z"></path><path fill="url(#y)" d="M200 200h100v100H200z"></path><path fill="url(#z)" d="M300 200h100v100H300z"></path><path fill="url(#A)" d="M400 200h100v100H400z"></path><path fill="url(#B)" d="M500 200h100v100H500z"></path><path fill="url(#C)" d="M600 200h100v100H600z"></path><path fill="url(#D)" d="M700 200h100v100H700z"></path><path fill="#f83520" d="M800 200h100v100H800z"></path><path fill="url(#E)" d="M900 200h100v100H900z"></path><path fill="url(#F)" d="M1000 200h100v100h-100z"></path><path fill="url(#G)" d="M0 300h100v100H0z"></path><path fill="url(#H)" d="M100 300h100v100H100z"></path><path fill="url(#I)" d="M200 300h100v100H200z"></path><path fill="url(#J)" d="M300 300h100v100H300z"></path><path fill="url(#K)" d="M400 300h100v100H400z"></path><path fill="url(#L)" d="M500 300h100v100H500z"></path><path fill="url(#M)" d="M600 300h100v100H600z"></path><path fill="#f1291e" d="M700 300h100v100H700z"></path><path fill="url(#N)" d="M800 300h100v100H800z"></path><path fill="url(#O)" d="M900 300h100v100H900z"></path><path fill="url(#P)" d="M1000 300h100v100h-100z"></path><path fill="url(#Q)" d="M0 400h100v100H0z">
					</path><path fill="url(#R)" d="M100 400h100v100H100z"></path><path fill="url(#S)" d="M200 400h100v100H200z"></path><path fill="url(#T)" d="M300 400h100v100H300z"></path><path fill="url(#U)" d="M400 400h100v100H400z"></path><path fill="url(#V)" d="M500 400h100v100H500z"></path><path fill="url(#W)" d="M600 400h100v100H600z"></path><path fill="#e0212b" d="M700 400h100v100H700z"></path><path fill="url(#X)" d="M800 400h100v100H800z"></path><path fill="url(#Y)" d="M900 400h100v100H900z"></path><path fill="url(#Z)" d="M1000 400h100v100h-100z"></path>
				</svg>
			</section>
			<section class="article-chapter-section">
				<p class="article-text">
					<strong>Параллельно была разработана система базовых цветовых токенов в двух наборах — для светлой и тёмной тем</strong>. На их основе были определены семантические и компонентные токены. Это позволило сформировать удобные в разработке и поддержке палитры для текста, иконок, интерактивных элементов (аффордансов), фона, плашек, границ и разделителей.
				</p>
				<p class="article-text">Разработка цветовых токенов велась с соблюдением рекомендаций по доступности стандарта WCAG 2.1, за исключением нескольких осознанных и обоснованных отступлений.</p>
				<img src="/assets/img/design/design-systems/pln/pln-ds-color.webp" class="article-img article-img-block width-main wrapper-centered" alt="Таблица базовых цветовых токенов для редизайна «Псковской ленты новостей»" />
			</section>
			<section class="article-chapter-section">
				<h3 class="article-chapter-subtitle" data-toc="Логотипы" id="logos">Логотипы</h3>
				<p class="article-text">Предыдущая версия логотипа, существовавшая с 2013 года, была доработана как по цвету, так и по форме. В первую очередь был заменён шрифт буквенной части. Во&#x2060;-&#x2060;вторых, была удалена расшифровывающая подпись: исследования показали, что большинство пользователей устойчиво воспринимает и идентифицирует бренд именно по аббревиатуре. Кроме того, были скорректированы отступы между квадратами — сделало композицию более плотной и цельной.</p>
				<Tabs id="pln-logo-compare" class="tabs-container-main" defaultTab={1}>
					<TabList label="Варианты логотипа ПЛН: старый и новый">
						<Tab id="pln-logo-compare-tab-1" controls="pln-logo-compare-panel-q">Было</Tab>
						<Tab id="pln-logo-compare-tab-2" controls="pln-logo-compare-panel-2" selected>Стало</Tab>
					</TabList>
					<TabPanels>
						<TabPanel id="pln-logo-compare-panel-1" labelledby="pln-logo-compare-tab-1" selected>
							<section class="pln-logo-compare">
								<img src="/assets/img/design/design-systems/pln/pln-logo-old.svg" class="pln-logo-compare--img" alt="Старый логотип «Псковской ленты новостей» (2013-2020 годы)" />
							</section>
						</TabPanel>
						<TabPanel id="pln-logo-compare-panel-2" labelledby="pln-logo-compare-tab-1">
							<section class="pln-logo-compare">
								<img src="/assets/img/design/design-systems/pln/pln-logo-new.svg" class="pln-logo-compare--img" alt="Новый логотип «Псковской ленты новостей» (с 2020 года)" />
							</section>
						</TabPanel>
					</TabPanels>
				</Tabs>
				<section class="article-chapter-section wrapper-columns-two width-xw wrapper-centered">
					<div class="wrapper-columns--sticky">
						<p class="article-text">
							Благодаря усилению эффекта цельности, обновлённую эмблему стало возможно использовать в шапке сайта и на промо-материалах <strong>с дополнительным стилеобразующим приёмом — без отступа от левой границы контейнера</strong> (то есть по принципу бирки).
						</p>
					</div>
					<div class="wrapper-columns--sticky">
						<picture class="fullwidth">
							<source media="(max-width: 960px)" srcset="/assets/img/design/design-systems/pln/pln-presscard-m.webp" />
							<source media="(min-width: 961px) and (resolution: 1dppx)" srcset="/assets/img/design/design-systems/pln/pln-presscard-1x.webp" />
							<source media="(min-width: 961px) and (resolution: 2dppx), 
								(min-width: 961px) and (resolution: 3dppx),
								(min-width: 961px) and (resolution: 4dppx)" srcset="/assets/img/design/design-systems/pln/pln-presscard-2x.webp" />
							<img src="/assets/img/design/design-systems/pln/pln-presscard-2x.webp" class="article-img fullwidth" alt="Пример использования лого ПЛН в формате бирки" />
						</picture>
					</div>
				</section>
				<p class="article-text">На базе обновленного логотипа были разработаны или доработаны логотипы продуктов бренда, например, логотип радиостанции ПЛН&#x2060;-&#x2060;ФМ и логотип направления документальных фильмов и стримминговых передач ПЛН&#x2060;-&#x2060;ТВ.</p>
				<div class="width-xs wrapper-centered wrapper-indentation">
					<img src="/assets/img/design/design-systems/pln/pln-tv-logo.svg" class="logo-present" alt="Логотип ПЛН ТВ" />
					<img src="/assets/img/design/design-systems/pln/pln-fm-logo.svg" class="logo-present" alt="Логотип ПЛН ФМ" />
				</div>
			</section>
		</section>
		<section class="article-chapter animation-scroll-fadeup">
			<h2 class="article-chapter-title" data-toc="Дизайн-решения" id="design_decisions">Дизайн-решения</h2>
			<section class="article-chapter-section wrapper-columns-two width-xw wrapper-centered">
				<div class="wrapper-columns--sticky">
					<h3 class="article-chapter-subtitle">Расширение контентной области</h3>
					<p class="article-text">Старая версия в десктопном варианте была рассчитана на максимальную ширину экрана всего в 1200 px, после чего она начинала плавно масштабироваться и одновременно увеличивать боковые отступы. Это накладывало существенные ограничения на встраивание интерактивных блоков, в том числе html5&#x2060;-&#x2060;баннеров через iframe. Кроме того, требовалось удовлетворить пользовательский запрос на увеличение размерности текста и изображений.</p>
					<p class="article-text">Это было реализовано за счет полного использования поля экрана: новый шаблон добавил 680 px в ширину на FHD&#x2060;-&#x2060;экранах (1920 px).</p>
				</div>
				<div class="wrapper-columns--sticky">
					<picture>
						<source media="(max-width: 960px)" srcset="/assets/img/design/design-systems/pln/pln-templates-m.webp" />
						<source media="(min-width: 961px) and (resolution: 1dppx)" srcset="/assets/img/design/design-systems/pln/pln-templates-1x.webp" />
						<source media="(min-width: 961px) and (resolution: 2dppx), 
							(min-width: 961px) and (resolution: 3dppx),
							(min-width: 961px) and (resolution: 4dppx)" srcset="/assets/img/design/design-systems/pln/pln-templates-2x.webp" />
						<img src="/assets/img/design/design-systems/pln/pln-templates-2x.webp" class="article-img" alt="Сравнение сеток в старом и новом шаблонах сайта ПЛН" />
					</picture>
				</div>
			</section>
			<section class="article-chapter-section wrapper-columns-two width-xw wrapper-centered">
				<div class="wrapper-columns--sticky">
					<p class="article-text">При этом, несмотря на расширение контентной области, в шаблоне статьей и новостей сохранился значительный объём «воздуха» и комфортная для чтения длина основных строк, не превышающая 65 знаков.</p>
				</div>
				<div class="wrapper-columns--sticky">
					<Tour>
						<picture>
							<source media="(max-width: 960px)" srcset="/assets/img/design/design-systems/pln/pln-article-m.webp" />
							<source media="(min-width: 961px) and (resolution: 1dppx)" srcset="/assets/img/design/design-systems/pln/pln-article-1x.webp" />
							<source media="(min-width: 961px) and (resolution: 2dppx), 
								(min-width: 961px) and (resolution: 3dppx),
								(min-width: 961px) and (resolution: 4dppx)" srcset="/assets/img/design/design-systems/pln/pln-article-2x.webp" />
							<img src="/assets/img/design/design-systems/pln/pln-article-2x.webp" class="article-img" alt="Пример оформления статьи на сайте ПЛН" />
						</picture>
						<TourPoint id="article-template-p1" x="10%" y="22%" title="Оформление лида">
							Культура оформления лида (или иначе <em>вводки</em>) традиционно играла в СМИ очень важную роль, однако в период цифрового перехода многие медиа по разным причинам перестали уделять этому элементу должное внимание. Для новой версии сайта я подготовил стиль с броским визуалом, подкреплённым буквицей в фирменном стиле бренда, который используется только для оформления статей, интервью и блогов, отделяя их от новостных заметок
						</TourPoint>
						<TourPoint id="article-template-p2" x="10%" y="82%" title="Рваный край и комфортная ширина"> Для облегчения чтения больших массивов текста тестировались (путём изучения субъективных оценок респондентов, когнитивных тестов на понимание текста, 5&#x2060;-&#x2060;секундных тестов etc.) различные варианты оформления статей. В результате наилучшие результаты показала схема с рваным левым краем (за счет разной ширины блоков непосредственно с текстом и блоков с подзаголовками, врезами, вставками, изображениями) с шириной текстовой зоны, не превышающей 65 знаков. </TourPoint>
						<TourPoint id="article-template-p3" x="80%" y="22%" title="Липкий блок с рекламой"> В прошлой версии сайта рекламные блоки на боковой панели имели плохую видимость ввиду того, что из-за перегруженности верхней части страницы 2/3 пользователей начинали скролл в первую секунду после отрисовки шаблона страницы — и баннеры пропадали из видимости ещё до того, как на них могли обратить внимание. В новой версии блок с баннерами липко закреплён на своём месте и сменяется подборкой других материалов только после скролла нескольких экранов. </TourPoint>
					</Tour>
				</div>
			</section>
			<section class="article-chapter-section wrapper-columns-two width-xw wrapper-centered">
				<div class="wrapper-columns--sticky">
					<h3 class="article-chapter-subtitle">Упрощение и акцентирование вводной части статей</h3>
					<p class="article-text">В прошлой версии вводная часть шаблона публикаций была перегружена лишними элементами, в ней не было акцентов.</p>
					<p class="article-text">Преимущественно неиспользуемые блоки шеринга материалов в соцсетях и получения html&#x2060;-&#x2060;кода для встраивания (рудимент времён ЖЖ) скрыли, а формат вывода даты публикации сделали более ясным.</p>
				</div>
				<div class="wrapper-columns--sticky">
					<Tour>
						<picture slot="media">
							<source media="(max-width: 960px)" srcset="/assets/img/design/design-systems/pln/pln-lid-m.webp" />
							<source media="(min-width: 961px) and (resolution: 1dppx)" srcset="/assets/img/design/design-systems/pln/pln-lid-1x.webp" />
							<source media="(min-width: 961px) and (resolution: 2dppx), 
								(min-width: 961px) and (resolution: 3dppx),
								(min-width: 961px) and (resolution: 4dppx)" srcset="/assets/img/design/design-systems/pln/pln-lid-2x.webp" />
							<img src="/assets/img/design/design-systems/pln/pln-lid-2x.webp" class="article-img" alt="Пример оформления вводной части статьи на сайте ПЛН" />
						</picture>
						<TourPoint id="article-heading-p1" x="4%" y="22%" title="Убрал лишнее"> Избыточные линии, а также фактически невостребованный блок шеринга и получения кода страницы в прошлой версии лишь захламляли заглавный блок шаблона материалов, расфокусируя внимание пользователя — от всего лишнего в новой версии мы избавились </TourPoint>
						<TourPoint id="article-heading-p2" x="10%" y="56%" title="Расставил акценты и упростил формат даты"> Акцентировали и вынесли вперёд время публикации (поскольку новости «живут» всего несколько часов) и изменили форматирование даты на написание месяца словом </TourPoint>
					</Tour>
				</div>
			</section>
			<section class="article-chapter-section wrapper-columns-two width-xw wrapper-centered">
				<div class="wrapper-columns--sticky">
					<h3 class="article-chapter-subtitle">Шапка и навигация</h3>
					<p class="article-text">Прошлая версия шапки сайта насчитывала 30 интерактивных навигационных элементов, в том числе 21 ссылку на специальные разделы и тематические рубрики, разделённые на две строки.</p>
					<p class="article-text">В новой версии меню было упрощено и рассортировано по трём выпадающим спискам. Это не только облегчило пользователям первичное сканирование шапки, но и позволило реализовать сразу 3 фичи:</p>
					<ol class="wrapper-indentation">
						<li>предусмотреть возможность вывода опционального блока для своего рода <strong>дудла</strong>: баннеров с разнонаправленной анимацией переднего и заднего плана при фокусе и наведении, которые должны были публиковаться к инфоповодам (к сожалению, перед запуском сайта редакция волюнтаристски пересмотрела спроектированную задачу компонента и превратила его в 2 константных баннера ежедневной и еженедельной рубрики);</li>
						<li>разместить <strong>ссылки-логотипы на другие продукты холдинга</strong> (радио, видеопродакшн, партнёрское СМИ потребительской направленности);</li>
						<li>вывести <strong>табы переключения на страницы, альтернативные главной:</strong> на вторую по популярности точку входа — «Ленту новостей» (более 10&#8239;% входов не из поиска), и на проектировавшуюся в обновлённой карте сайта страницу «Выбор редакции» (она должна была выступать альтернативой витриной: исследования показали существенную потребность одновременно аудитории, редакции и рекламного отдела в изменении структуры и подачи материалов, однако редакция опасалась неприятия ядром аудитории существенных перемен и снижения лояльности, поэтому в качестве компромисса была предложена концепция «альтернативной главной» с более гибкой структурой и б&#769;ольшим редакторским взносом в «добавленную стоимость» медиапродукта; к сожалению, её проработка и реализация были остановлены редакцией по внутренним причинам).</li>
					</ol>
				</div>
				<div class="wrapper-columns--sticky">
					<Tour>
						<video slot="media" autoplay loop muted playsinline width="640">
							<source src="/assets/img/design/design-systems/pln/pln-nav-video.webm" type="video/webm" />
							<source src="/assets/img/design/design-systems/pln/pln-nav-video.mp4" type="video/mp4" />
							К сожалению, ваш браузер не поддерживает используемый формат видео.
						</video>
						<TourPoint id="menu-animation-p1" x="23%" y="12%" label="1" title="Дудл"> Пример дудла на годовщину подвига Александра Матросова под Великими Луками, который в течение дня должен был напоминать о событии и вести на обзорную публикацию, рассказывающую о самом подвиге и о памятных мероприятиях в этот день. </TourPoint>
						<TourPoint id="menu-animation-p2" x="48%" y="12%" label="2" title="Ссылки на смежные продукты"> Холдингу требовалась более активная подсветка смежных проектов в рамках развития собственной экосистемы медиапродуктов. </TourPoint>
						<TourPoint id="menu-animation-p3" x="88%" y="22%" label="3" title="Навигация по альтернативным витринам"> Исследования показали, что многие постоянные пользователи предпочитают регулярно посещать именно страницу ленты новостей, а не главную страницу — требовалась простая и понятная навигация между ними, а также способ переключаться на страницу «Выбор редакции», которая задумывалась как более динамичный и гибкий новостной дашборд. </TourPoint>
					</Tour>
				</div>
			</section>
			<section class="article-chapter-section wrapper-columns-two width-xw wrapper-centered">
				<div class="wrapper-columns--sticky">
					<h3 class="article-chapter-subtitle">Система анимируемых иконок с управлением через токены</h3>
					<p class="article-text">К моменту разработки js&#x2060;-&#x2060;библиотеки morph&#x2060;-&#x2060;анимации svg&#x2060;-&#x2060;иконок наподобие GSAP ещё не были в бесплатном публичном доступе, в связи с чем я выбрал нативную технологию <strong>SMIL&#x2060;-&#x2060;анимации svg&#x2060;-&#x2060;путей в иконках</strong> с отличной поддержкой в браузерах. Для реализации анимации потребовалось лишь обеспечить одинаковое количество точек в обоих состояниях иконки.</p>
					<p class="article-text">В связи с этим все иконки на проекте построены на основе путей, а не фигур (шейпов). Они встраиваются инлайн для оптимизации рендеринга и сохранения полного контроля над элементами их DOM. Их внешний вид (толщина линий, цвет и т. п.) управляется через CSS с помощью специальных токенов.</p>
				</div>
				<div class="wrapper-columns--sticky">
					<video autoplay loop muted playsinline width="640" class="wrapper-rounded">
						<source src="/assets/img/design/design-systems/pln/smil-icons.webm" type="video/webm" />
						<source src="/assets/img/design/design-systems/pln/smil-icons.mp4" type="video/mp4" />
						К сожалению, ваш браузер не поддерживает используемый формат видео.
					</video>
				</div>
			</section>
		</section>
		<section class="article-chapter animation-scroll-fadeup">
			<h2 class="article-chapter-title" data-toc="Результат" id="outcome">Результат</h2>
			<section class="article-chapter-section">
				<h3 class="article-chapter-subtitle" data-toc="Редизайн главной" id="outcome-redesign">Редизайн главной</h3>
				<Tabs id="pln-logo-compare" defaultTab={1}>
					<TabList label="Варианты дизайна главной страницы ПЛН: до редизайна 2025 года и после" class="wrapper-sticky">
						<Tab id="pln-logo-compare-tab-1" controls="pln-logo-compare-panel-q">Было</Tab>
						<Tab id="pln-logo-compare-tab-2" controls="pln-logo-compare-panel-2" selected>Стало</Tab>
					</TabList>
					<TabPanels>
						<TabPanel id="pln-logo-compare-panel-1" labelledby="pln-logo-compare-tab-1" selected>
							<div class="mockup-wrapper shadow-h">
								<picture>
									<source media="(max-width: 960px)" srcset="/assets/img/design/design-systems/pln/pln-general-old-m.webp" />
									<source media="(min-width: 961px) and (resolution: 1dppx)" srcset="/assets/img/design/design-systems/pln/pln-general-old-1x.webp" />
									<source media="(min-width: 961px) and (resolution: 2dppx), 
											(min-width: 961px) and (resolution: 3dppx),
											(min-width: 961px) and (resolution: 4dppx)" srcset="/assets/img/design/design-systems/pln/pln-general-old-2x.webp" />
									<img src="/assets/img/design/design-systems/pln/pln-general-old-2x.webp" alt="Старая версия главной страницы «Псковской ленты новостей»" />
								</picture>
							</div>
						</TabPanel>
						<TabPanel id="pln-logo-compare-panel-2" labelledby="pln-logo-compare-tab-1">
							<div class="mockup-wrapper shadow-h">
								<Tour>
									<picture>
										<source media="(max-width: 960px)" srcset="/assets/img/design/design-systems/pln/pln-general-new-m.webp" />
										<source media="(min-width: 961px) and (resolution: 1dppx)" srcset="/assets/img/design/design-systems/pln/pln-general-new-1x.webp" />
										<source media="(min-width: 961px) and (resolution: 2dppx), 
											(min-width: 961px) and (resolution: 3dppx),
											(min-width: 961px) and (resolution: 4dppx)" srcset="/assets/img/design/design-systems/pln/pln-general-new-2x.webp" />
										<img src="/assets/img/design/design-systems/pln/pln-general-new-2x.webp" alt="Исходный концепт редизайна главной страницы «Псковской ленты новостей»" />
									</picture>
									<TourPoint id="plnmockup-p1" x="9%" y="3.7%" title="Блок главных материалов"> Прежний дизайн жестко ограничивал блок главных материалов тремя, что иногда создавало проблемы редакции, когда один или несколько слотов были заняты коммерческой публикацией, но происходили резонансные события, требующую акцентирования нескольких важных публикаций. В новом дизайне можно добавлять неограниченное количество публикаций в блок главных </TourPoint>
									<TourPoint id="plnmockup-p2" x="80%" y="3.7%" title="Независимая прокрутка ленты новостей"> Лента последних новостей имеет независимую от остальных блоков основного раздела главной страницы прокрутку </TourPoint>
									<TourPoint id="plnmockup-p3" x="1.2%" y="9.85%" title="Подзаголовки">Для крупных форм (статей, интервью) были предусмотрены стили оформления подзаголовков, которые в сочетании с заголовком иного формата (например, игровой заголовок и информативный подзаголовок) дают лучшую конверсию </TourPoint>
									<TourPoint id="plnmockup-p4" x="56.7%" y="9.85%" title="Иерархичность материалов">Для акцентирования крупных форм (статей, репортажей, интервью, авторских колонок) было предусмотрено выделение в ленте заголовка размером и возможность вывода подзаголовка. Материалы, имеющие внутри видео или фоторепортаж, как наиболее виральные, акцентируются соответствующими иконками</TourPoint>
									<TourPoint id="plnmockup-p5" x="23.7%" y="12.9%" title="Новый блок для анонсов радиоэфиров">В новый блок вынесли кнопки прослушивания подкастов и просмотра прямых видеотрансляций радиоэфиров, анонса эфира онлайн и вывода подборки прошедших эфиров</TourPoint>
									<TourPoint id="plnmockup-p6" x="56.7%" y="19.4%" title="Изменение конструкции инфобаннеров">В прежней версии (см. закладку «Было») инфобаннеры были мельче, затемнены полупрозрачной тёмной плашкой, которая пропадала только при фокусировке, а надписи на них сотрудникам редакции приходилось наносить вручную в графическом редакторе. Обновлённая версия позволяет задавать текст как для двух, так и для одной строки непосредственно в CMS, независимость текста и изображения технически позволила анимировать баннеры при наведении и подставлять в качестве фона видео, что расширило рекламные возможности платформы</TourPoint>
									<TourPoint id="plnmockup-p7" x="18%" y="22.35%" title="Виджет самых популярных материалов">Как и в прошлой версии, логика виджетов в блоке резонанса в виде табов была сохранена, но серьёзно изменён UI. Для блока популярных и комментируемых материалов в качестве фона вынесли числа — у популярных это порядок рейтинга, у комментируемых — количество комментариев. </TourPoint>
									<TourPoint id="plnmockup-p8" x="75.4%" y="22.35%" title="Виджет канала в мессенджере"> За счёт перехода на полноразмерный шаблон с максимально эффективным использованием доступного пространства появилась возможность добавить в раздел виджет одного из ключевых продуктов — телеграм-канала — с интерактивным отображением последних постов. </TourPoint>
									<TourPoint id="plnmockup-p9" x="39.8%" y="68.5%" title="Обложки у колонок"> Ключевое изменение блока авторских колонок — появление у сниппетов обложек для увеличения конверсии авторских материалов, на которые расходуются серьёзные ресурсы редакции </TourPoint>
									<TourPoint id="plnmockup-p10" x="29.8%" y="81.4%" title="Объединённый блок мультимедиа"> Всю мультимедиа-графику (фото, видео, инфографику) и интерактивные лонгриды объединили в единый блок с возможностью фильтрации, чтобы сосредоточить в одном месте визуально-привлекательный контент и повысить шансы блока на доскролл. Кроме того, ранее пользователь мог видеть лишь одну обложку каждого типа контента. При этом некоторые из них (например, фото) обновлялись часто, а ресурсоёмкие форматы — гораздо реже, что создавало диспропорции. Теперь же пользователи видят наиболее свежие материалы, но при необходимости могут посмотреть последние 6 материалов определённого формата. </TourPoint>
								</Tour>
							</div>
						</TabPanel>
					</TabPanels>
				</Tabs>
				<div class="pln-link-wrapper">
					<img src="/assets/img/design/design-systems/pln/pln-squared-cloud-bg.svg" alt="Подложка под ссылку на сайт ПЛН" />
					<div class="pln-link-text">
						<p>Смотрите результат на сайте</p>
						<a href="https://pln-pskov.ru" title="Перейти на сайт ПЛН" target="_blank">
							pln-pskov.ru
						</a>
					</div>
				</div>
			</section>
			<section class="article-chapter-section wrapper-marginblockend-md">
				<h3 class="article-chapter-subtitle" data-toc="Влияние на метрики" id="outcome-metrics">Влияние на метрики</h3>
				<p class="article-text">Даже после моего ухода из холдинга я оказывал консультативную помощь своей бывшей компании на этапе внедрения редизайна.</p>
				<p class="article-text">Сайт в обновлённом дизайне был запущен накануне новогодних каникул — 25 декабря 2025 года. Наблюдения за метриками по итогам первых 4&#x2060;-&#x2060;х месяцев уже продемонстрировали значимый эффект улучшения показателей вовлечённости пользователей.</p>
				<p class="article-text footnote">* Ввиду того, что запуск редизайна происходил уже после моего перехода на другую работу, я не имею доступа к детальной статистике и привожу доступные данные по открытым источникам</p>
				<div class="results wrapper-centered width-xw wrapper-marginblockstart-md">
					<div class="result-item">
						<div class="result-item-title">
							<p class="result-title-text">Рост глубины просмотра и времени на сайте</p>
							<p class="result-title-digits">+ 12&#8239;% / + 7,1&#8239;%</p>
						</div>
						<div class="result-item-caption">
							<p class="result-description">Удалось сбить продолжавшуюся более 2&#x2060;-&#x2060;х лет тенденцию к снижению показателей глубины и времени просмотра: они почти сразу <a href="https://www.liveinternet.ru/stat/pln-pskov.ru/index.html?id=ratio&period=week" title="Статистика посещаемости сайта ПЛН по данным Liveinternet" target="_blank">начали согласованно расти</a>.<p>
							<div class="result-item-metrics">
								<Fragment set:html={PlnMetricsTimeDepth} />
							</div>
						</div>
					</div>
					<div class="result-item">
						<div class="result-item-title">
							<p class="result-title-text">Рост посещений страниц с комментариями</p>
							<p class="result-title-digits">+ 16&#8239;%</p>
						</div>
						<div class="result-item-caption">
							<p class="result-description">После редизайна <a href="https://www.liveinternet.ru/stat/pln-pskov.ru/dirs.html?id=848972&period=week" title="Статистика посещаемости сайта ПЛН по данным Liveinternet" target="_blank">наблюдается</a> устойчивая тенденция к росту посещений раздела /forum (страниц с комментариями).</p>
							<div class="result-item-metrics">
								<Fragment set:html={PlnMetricsForum} />
							</div>
						</div>
					</div>
					<div class="result-item">
						<div class="result-item-title">
							<p class="result-title-text">Рост посещений страницы «Лента новостей»</p>
							<p class="result-title-digits">+ 54&#8239;%</p>
						</div>
					</div>
					<div class="result-item">
						<div class="result-item-title">
							<p class="result-title-text">Снижение доли отказов (просмотров короче 15 секунд)</p>
							<p class="result-title-digits">- 15&#8239;%</p>
						</div>
					</div>
					<div class="result-item">
						<div class="result-item-title">
							<p class="result-title-text">Улучшение количества и качества рекламных зон</p>
						</div>
						<div class="result-item-caption">
							<p class="result-description">В&nbsp;результате редизайна увеличились продажи медийной рекламы за&nbsp;счёт увеличения размера ключевых баннеров и&nbsp;более удобного размещения рекламных зон, которые при скролле дольше остаются на&nbsp;виду, но&nbsp;не&nbsp;используют тёмные паттерны и&nbsp;не&nbsp;мешают потреблению контента.</p>
						</div>
					</div>
				</div>
			</section>
			<section class="article-chapter-section">
				<h3 class="article-chapter-subtitle" data-toc="Отзыв заказчика" id="gratitude">Отзыв заказчика</h3>
				<div class="width-w wrapper-centered">
					<picture>
						<source media="(max-width: 960px)" srcset="/assets/img/design/design-systems/pln/pln-gratitude-m.webp" />
						<source media="(min-width: 961px) and (resolution: 1dppx)" srcset="/assets/img/design/design-systems/pln/pln-gratitude-1x.webp" />
						<source media="(min-width: 961px) and (resolution: 2dppx), 
							(min-width: 961px) and (resolution: 3dppx),
							(min-width: 961px) and (resolution: 4dppx)" srcset="/assets/img/design/design-systems/pln/pln-gratitude-2x.webp" />
						<img src="/assets/img/design/design-systems/pln/pln-gratitude-2x.webp" alt="Благодарность от директора «Гражданской прессы» Костикова М. Э." id="pln-gratitude" />
					</picture>
				</div>
			</section>
		</section>
	</section>
</LayoutArticle>

<style>
	.article-cover--pln {
		position: relative;
		width: 100%;
		height: auto;
		aspect-ratio: 3 / 2;
		@media screen and (width < 1200px) {
			width: 200vw !important;
			transform: translateX(-27%);
		}
		& picture {
			display: inline-block;
			overflow: visible;
			width: 100%;
			height: 100%;
		}
		& .pln-cover--img {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
			z-index: +1;
		}
		& .pln-cover--bg {
			position: absolute;
			width: 100%;
			height: 100%;
			inset: 0;
			object-fit: cover;
			object-position: center center;
			opacity: 0.3;
			mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 20%, rgb(0, 0, 0) 65%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%);
		}
	}
	table.pln-metrics {
		width: var(--content-width-main);
		& th,
		td {
			width: 28%;
		}
		& tr > th:first-child {
			width: 41%;
		}
	}
	.wrapper-columns-two {
		margin-block: var(--space-md);
	}

	#footnote--plnstat {
		margin-block-end: var(--space-indentation);
	}

	@supports (animation-timeline: scroll()) and (animation-range: entry-crossing) {
		@media (prefers-reduced-motion: no-preference) {
			#pln-pattern {
				& path {
					opacity: 0;
					transform: scale(0.2);
					transform-origin: center;
					transform-box: fill-box;
					will-change: transform, opacity;
					animation: palette-item-show linear forwards;
					animation-timeline: view();
					animation-range: entry 0% cover 80%;
				}
			}
		}
	}

	.logo-present {
		background: var(--color-const-light);
		padding: var(--space-xl);
		border-radius: var(--radius-button-xxl);
		@supports (corner-shape: squircle) {
			corner-shape: squircle;
		}
		box-shadow: var(--shadow-h);
	}

	#pln-gratitude {
		margin-block-start: var(--space-main);
		box-shadow: var(--shadow-main);
	}

	.pln-link-wrapper {
		width: min(90%, 400px);
		position: relative;
		margin-inline: auto;
		margin-block-end: var(--space-md);
		@media (hover: hover) and (pointer: fine) {
			&:hover,
			&:focus {
				& a {
					scale: 1.2;
				}
				& img {
					scale: .9;
				}
			}
		}
		& img {
			will-change: scale;
			transition: scale 0.2s cubic-bezier(0.05, 0.39, 0.49, 1.25);
		} 
		& a {
			/* all: unset; */
			cursor: var(--cursor-pointer);
			color: inherit;
			font-size: var(--font-size-xl);
			font-kerning: auto;
			font-optical-sizing: auto;
			letter-spacing: -0.005em;
			line-height: 1.2;
			font-variation-settings:
				"opsz" 13,
				"wght" var(--font-weight-extrabold),
				"GRAD" 0;
			will-change: scale;
			transition: scale 0.35s cubic-bezier(0.05, 0.39, 0.49, 1.25);
			}
		& .pln-link-text {
			position: absolute;
      width: 100%;
      height: fit-content;
      inset: 0;
      inset-block-start: 50%;
      transform: translateY(-50%);
      display: grid;
      place-items: center;
      color: var(--color-const-light);
			& * {
				text-align: center;
			}
		}
	}
</style>
