---
import "$styles/reset.css";
import "$styles/global.css";

import Intro from "$components/blocks/Intro.astro";
import Header from "$components/ui/Header.astro";
import Footer from "$components/ui/Footer.astro";

interface Props {
	title?: string;
	description?: string;
	ogImage?: string;
}

const { title = "Серге Васильев: портфолио", description = "Мультидисциплинарный продуктовый дизайнер с опытом в веб-разработке, управлении медиа и ИТ-проектами", ogImage, ...rest } = Astro.props as Props;

const fullDescription = description ? `${description} / портфолио Сергея Васильева` : "Портфолио Сергея Васильева";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const siteOrigin = Astro.site?.origin || "https://imsocreative.ru";
const defaultOgImagePath = "/assets/img/imsocreative_og.jpg";
const imagePath = ogImage || defaultOgImagePath;
const ogImageUrl = new URL(imagePath, siteOrigin).href;
---

<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<meta name="description" content={fullDescription} />
		<meta name="color-scheme" content="light dark" />
		<meta name="theme-color" content="#f9f9f9" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:image" content={ogImageUrl} />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={fullDescription} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:image" content={ogImageUrl} />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={fullDescription} />
		<link rel="canonical" href={canonicalURL} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="Сергей Васильев" />
		<link rel="manifest" href="/site.webmanifest" />
		<script is:inline>
			const theme = localStorage.getItem("theme") || (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light");
			document.documentElement.setAttribute("data-theme", theme);
		</script>
		<script type="module">
			if (!("anchorName" in document.documentElement.style)) {
				import("https://unpkg.com/@oddbird/css-anchor-positioning");
			}
		</script>
	</head>
	<body>
		<Intro />
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
		<script src="https://flackr.github.io/scroll-timeline/dist/scroll-timeline.js"></script>
	</body>
</html>

<style is:global>
	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	main {
		width: 100%;
		background: var(--color-bg-main);
		flex-grow: 1;
	}
</style>
