---
import Layout from "$layouts/Layout.astro";
import ScrollProgress from "$components/ui/ScrollProgress.astro";
import Breadcrumbs from "$components/ui/Breadcrumbs.astro";
import ReleaseInfo from "$components/ui/ReleaseInfo.astro";

interface Props {
  title: string;
  headingTitle?: string;
  description?: string;
  ogImage?: string;
  breadcrumbsLabels?: Record<string, string>;
  date?: string;
  customer?: string;
  customerLink?: string;
  subtitle?: string;
}

const {
  title,
  description,
  headingTitle,
  ogImage,
  breadcrumbsLabels = {},
  date,
  customer,
  customerLink,
  subtitle = ''
} = Astro.props as Props;

const hasBreadcrumbLabels = Object.keys(breadcrumbsLabels).length > 0;

if (!title || !date || !customer || !customerLink) {
  throw new Error('ArticleLayout требует: title, date, customer, customerLink');
}

if (!hasBreadcrumbLabels) {
  console.warn('breadcrumbsLabels пуст. Будут использованы дефолтные метки или сегменты URL.');
}
---

<Layout title={title} description={description} ogImage={ogImage}>
	<ScrollProgress />
	<article itemscope itemtype="http://schema.org/Article" class="article--wrapper">
		<section class="article-head">
			<section class="article-infopanel">
				<Breadcrumbs breadcrumbsLabels={breadcrumbsLabels} />
				<ReleaseInfo date={date} customer={customer} customerLink={customerLink} />
			</section>
			{headingTitle ? (
        <h1 itemprop="headline" class="article-title">{headingTitle}</h1>
      ) : (
        <h1 itemprop="headline" class="article-title">{title}</h1>
      )}
			{subtitle && <h2 class="article-subtitle">{subtitle}</h2>}
		</section>
		<slot />
	</article>
</Layout>

<style is:global>
	.article-infopanel {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-main);
		@media screen and (width > 967px) {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
		}
	}
</style>