---
import "../styles/reset.css";
import "../styles/global.css";

import Intro from "../components/blocks/Intro.astro";
import Header from "../components/ui/Header.astro";
import Footer from "../components/ui/Footer.astro";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL("/assets/img/portrait-1920.webp", Astro.url);
---

<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta property="og:type" content="website" />
		<meta property="og:image" content={socialImageURL} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta name="color-scheme" content="light dark" />
		<meta name="theme-color" content="#f9f9f9" />
		<link rel="canonical" href={canonicalURL} />
		<link rel="sitemap" href="/sitemap-0.xml" />
		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="Imsocreative" />
		<link rel="manifest" href="/site.webmanifest" />
		<script is:inline>
			const theme = localStorage.getItem("theme") || (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light");
			document.documentElement.setAttribute("data-theme", theme);
		</script>
		<script type="module">
			if (!("anchorName" in document.documentElement.style)) {
				import("https://unpkg.com/@oddbird/css-anchor-positioning");
			}
		</script>
	</head>
	<body>
    <Intro />
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
		<script src="https://flackr.github.io/scroll-timeline/dist/scroll-timeline.js"></script>
	</body>
</html>

<style is:global>
	body {
		display: flex;
		flex-direction: column;
    min-height: 100vh;
	}

	main {
		width: 100%;
		background: var(--color-bg-main);
		flex-grow: 1;
	}
</style>
