---
interface Props {
	date?: string;
	customer?: string;
	customerLink?: string;
}

const { date, customer, customerLink } = Astro.props;

const isExternalLink = (url: string): boolean => {
	try {
		const link = new URL(url, Astro.site);
		return link.origin !== Astro.site?.origin;
	} catch {
		return false;
	}
};
---

<section class="release-info">
	{
		date && (
			<span class="release-info-date" title="Дата работы над проектом">
				{date}
			</span>
		)
	}
	{
		customer && (
			<span class="release-info-customer">
				{customerLink ? (
					<a href={customerLink} title={`К профилю заказчика: ${customer} →`} aria-label={`К профилю заказчика: ${customer}`} {...(isExternalLink(customerLink) ? { target: "_blank", rel: "noopener" } : {})}>
						{customer}
					</a>
				) : (
					customer
				)}
			</span>
		)
	}
</section>

<style is:global>
	.release-info {
		display: flex;
		gap: var(--space-s);
		flex-wrap: wrap;
		font-family: var(--font-family-secondary);
		font-size: var(--font-size-s);
		& > span {
			flex: 0 1 auto;
			text-wrap-style: pretty;
			text-wrap-mode: wrap;
			font-size: inherit;
		}
		& > * {
			color: var(--color-content-main);
			background: var(--color-bg-xh);
			padding-inline: var(--space-s);
			padding-block: var(--space-xxs);
			border-radius: var(--radius-button-xl);
			transition: background 0.07s ease-in-out;
			@supports (corner-shape: squircle) {
				corner-shape: squircle;
			}
		}
		@media (hover: hover) and (pointer: fine) {
			& .release-info-customer:has(a:hover) {
				background: var(--color-link);
			}
		}
		& .release-info-customer:has(a:focus) {
			background: var(--color-link);
		}
		& a {
			all: unset;
			cursor: pointer;
			color: var(--color-link) !important;
			&:focus {
				text-decoration: none !important;
				color: var(--color-const-light) !important;
				background: none !important;
			}
			@media (hover: hover) and (pointer: fine) {
				&:hover {
					text-decoration: none !important;
					color: var(--color-const-light) !important;
					background: none !important;
				}
			}
		}
	}
</style>
